body {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAR4AAACwCAMAAADudvHOAAAAPFBMVEXkAwP/jAD/7QAAgCYATf91B4fiIwX0XgH/jwD/iQD/qAD/8QD06QEAW9IAT/8/NdF4AIGLOpoFgyQAggBNJZwSAAABMklEQVR4nO3QAVUCAABEsQMFBEUQ+3e1wX8G2CJsZ8IAAAAAAAAAgP+5EPZB2IGgJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+1K2I2wT8KOBD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9oXYS/C3gh6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp60X8LuhL0T9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9ad+EPQh7EnYi6El6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul60n4If8ynhvn31CTmAAAAAElFTkSuQmCC);
	color:black;
}
p {
font-size:1000%;
}
